.footerContainer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: #d5def0;
}

.footerdiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  align-items: center;
  height: 100%;
  width: 99vw;
}

@media screen and (max-width: 600px) {
  .weatherapiLogo {
    display: none;
  }
}

@media screen and (max-width: 350px) {
  .footerContainer {
    height: 90px;
  }
  .footerdiv {
    flex-direction: column;
  }
  .footerdiv p {
    margin: 0 0;
    padding: 0 0;
    line-height: 1.5;
  }
  .weatherapiLogo {
    display: none;
  }
}